<form [formGroup]="minesweeperForm" (ngSubmit)="sumbit()">
  <div class="form-row">
    <div class="form-group">
      <label for="width">Width</label>
      <input id="width" formControlName="width" type="number" class="form-control input-sm" required>
    </div>
    <div class="form-group">
      <label for="height">Height</label>
      <input id="height" formControlName="height" type="number" class="form-control input-sm" required>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary" [disabled]="!minesweeperForm.valid">Generate Panel</button>
    </div>
  </div>
  <span *ngIf="minesweeperForm.get('width').errors?.negativeNumber" class="validationError">
    Please provide a valid width!
  </span>
  <span *ngIf="minesweeperForm.get('height').errors?.negativeNumber" class="validationError">
    Please provide a valid height!
  </span>
</form>

<div class=".clearFix"></div>

<div class="minesweeperPanel">
  <ng-container *ngFor="let row of (rows$ | async)">
    <div>
      <ng-container *ngFor="let cell of row.cells">
        <span (click)="checkBomb(cell)" [ngClass]="{'bomb' : cell.hasBomb}">
        </span>
      </ng-container>
    </div>
  </ng-container>
</div>
